<div class="custom-featured-collection fullwidth-wrapper">
  <div class="c-wrapper">
    <div class="c-primary-title">Mest solgte</div>
    <div class="c-featured-collection-cards">
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod1.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod2.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod3.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod4.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod5.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod6.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod7.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
      <div class="c-featured-collection-card">
        <a href="#" class="prod-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/collection-prod8.png" alt="">
          <img class="prod-img-exclammation" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/Icon-Info.svg" alt="">
        </a>
        <a href="#" class="prod-title">Vampyrer</a>
        <p class="prod-tag">Fra Malaco</p>
        <a href="#" class="prod-price">tilføj 5 stk.</a>
      </div>
    </div>
    <div style="text-align: right;">
      <a href="#" class="c-custom-btn">Se Mere slik</a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Ft. Collection",
    "settings": [
    ]
  }
{% endschema %}