<div class="custom-homepage-top fullwidth-wrapper">
  <div class="homepage-top-1">
    <div class="c-wrapper">
      <div class="left">
        <div class="top-1-title">
          Kæmpe udvalg af 
          <br><span style="color: #FF94C3;">Bland Selv Slik</span>
           bragt direkte <br> til jer – med ekspressfart.
        </div>
        <a href="#" class="c-custom-btn">bestil her</a>
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/hero-banana.png" alt="">
        </div>
      </div>
      <div class="right">
        <div class="cards">
          <div class="card">
            <div class="card-sub">Sendes i dag</div>
            <div class="card-desc">Bestil inden kl. 18 og vi sender i dag</div>
          </div>
          <div class="card">
            <div class="card-sub">Kæmpe udvalg</div>
            <div class="card-desc">Vi har op imod 350 forskellige slags slik.</div>
          </div>
          <div class="card">
            <div class="card-sub">Frisk og hygiejnisk</div>
            <div class="card-desc">Helt frisk slik direkte fra fabrikken.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-1-bgshape">
      <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/top-1-bgshape.svg" alt="">
    </div>
  </div>
  <div class="homepage-top-2">
    <div class="c-wrapper">
      <div class="top-2-vid">
        <div class="c-primary-title">Vi har glade kunder <span style="color: #F68D39;">:-)</span></div>
        <a href="#" class="c-review-card">
          <div class="img-wrap">
            <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-one.jpg" alt="">
          </div>
          {% render 'five-stars' %}
          <p class="review-title">Den bedste slikbutik ever</p>
          <p class="review-desc">Jeg er så tilfreds</p>
          <div class="review-bottom">
            <p href="#">Mette Sliksen</p>
            <p>13.05.2021</p>
          </div>
        </a>
        <a href="#" style="display: inline-block; color: #FF94C3; font-size: 22px; text-decoration: underline;">Se flere</a>
      </div>
    </div>
    <div class="top-2-bgshape">
      <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/top-2-bgshape.svg" alt="">
    </div>
    <div class="top-2-fixdimg">
      <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/top-2-img.png" alt="">
    </div>
  </div>
  <div class="homepage-top-3">
    <div class="c-wrapper">
      <div class="c-primary-title"><span style="color: #F68D39;">Bland Selv Slik:</span> Så simpelt er det.</div>
      <ul>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/numbering-1.svg" alt="">
          <p>Vælg <span style="color: #F68D39;text-decoration: underline">Bland Selv Slik</span> og sortér i vores mange kategorier.</p>
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/numbering-2.svg" alt="">
          <p>Klik på de produkter, du ønsker i posen og justér mængde.</p>
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/numbering-3.svg" alt="">
          <p>Læg i kurven, luk posen og tilføj en ny pose – eller afslut køb.</p>
        </li>
      </ul>
      <div style="text-align: right; max-width: 500px;"><a href="#" class="c-custom-btn" >bestil her</a></div>
    </div>
    <div class="top-3-fixdimg">
      <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/top-3-img.png" alt="">
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Homepage Top",
    "settings": [
    ]
  }
{% endschema %}