<div class="custom-homepage-bottom fullwidth-wrapper">
  <div class="c-wrapper">
    <div class="c-homepage-bottom-list">
      <div class="c-primary-title">Plastikfri og bæredygtig emballage</div>
      <div class="c-subtitle">Al vores indpakningsmateriale ...</div>
      <ul>
        <li>
          {% render 'icon-list-tick' %}
          <p class="c-subtitle">... er lavet af bæredygtige materialer</p>
        </li>
        <li>
          {% render 'icon-list-tick' %}
          <p class="c-subtitle">... kan 100% komposteres som pap</p>
        </li>
      </ul>
      <a href="#" class="c-custom-btn">Køb her</a>
    </div>
    <div class="c-homepage-bottom-img">
      <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/homepage-bottom-img.png" alt="">
    </div>
  </div>
  <img class="c-homepage-bottom-fixed-img" src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/homepage-bottom-fixed.png" alt="">
</div>


{% schema %}
  {
    "name": "Homepage Bottom",
    "settings": [
    ]
  }
{% endschema %}