<div class="custom-logolist-section fullwidth-wrapper">
  <div class="c-wrapper">

    <div class="c-logolist-top">
      <div class="left">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/logolist-topleft.jpg" alt="">
        </div>
        <div class="texts">
          <strong>Mangler du inspiration?</strong> <br>
          Vi arbejder på færdigblandede bøtter med alle jeres favoritter – kommer snart!
        </div>
      </div>
      <div class="right">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/logolist-topright.jpg" alt="">
        </div>
        <div class="texts">
          <strong>Bestil inden kl 17:00</strong> <br>
          Så bliver dit slik sendt i dag. 
        </div>
      </div>
    </div>

    <div class="c-logolists">
      <div class="the-logo">
        <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/toms.svg" alt="">
      </div>
      <div class="the-logo">
        <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/cloetta.svg" alt="">
      </div>
      <div class="the-logo">
        <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/haribo.svg" alt="">
      </div>
      <div class="the-logo">
        <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/fazer.svg" alt="">
      </div>
      <div class="the-logo">
        <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/carletti.svg" alt="">
      </div>
      <div class="the-logo">
        <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/nestle.svg" alt="">
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Logolist Section",
    "settings": [
    ]
  }
{% endschema %}