<div class="custom-review-section fullwidth-wrapper">
  <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-section-bgshape.svg" alt="" class="c-review-section-bgshapa">
  <div class="c-wrapper">
    <div class="c-primary-title">Et par kundehistorier</div>
    <div class="c-review-cards">
      <a href="#" class="c-review-card">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-one.jpg" alt="">
        </div>
        {% render 'five-stars' %}
        <p class="review-title">Den bedste slikbutik ever</p>
        <p class="review-desc">Jeg er så tilfreds</p>
        <div class="review-bottom">
          <p href="#">Mette Sliksen</p>
          <p>13.05.2021</p>
        </div>
      </a>
      <a href="#" class="c-review-card">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-two.jpg" alt="">
        </div>
        {% render 'five-stars' %}
        <p class="review-title">Den bedste slikbutik ever</p>
        <p class="review-desc">Jeg er så tilfreds</p>
        <div class="review-bottom">
          <p href="#">Mette Sliksen</p>
          <p>13.05.2021</p>
        </div>
      </a>
      <a href="#" class="c-review-card">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-three.jpg" alt="">
        </div>
        {% render 'five-stars' %}
        <p class="review-title">Den bedste slikbutik ever</p>
        <p class="review-desc">Jeg er så tilfreds</p>
        <div class="review-bottom">
          <p href="#">Mette Sliksen</p>
          <p>13.05.2021</p>
        </div>
      </a>
      <a href="#" class="c-review-card">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-four.jpg" alt="">
        </div>
        {% render 'five-stars' %}
        <p class="review-title">Den bedste slikbutik ever</p>
        <p class="review-desc">Jeg er så tilfreds</p>
        <div class="review-bottom">
          <p href="#">Mette Sliksen</p>
          <p>13.05.2021</p>
        </div>
      </a>
      <a href="#" class="c-review-card">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-five.jpg" alt="">
        </div>
        {% render 'five-stars' %}
        <p class="review-title">Den bedste slikbutik ever</p>
        <p class="review-desc">Jeg er så tilfreds</p>
        <div class="review-bottom">
          <p href="#">Mette Sliksen</p>
          <p>13.05.2021</p>
        </div>
      </a>
      <a href="#" class="c-review-card">
        <div class="img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0554/7301/2836/files/review-six.jpg" alt="">
        </div>
        {% render 'five-stars' %}
        <p class="review-title">Den bedste slikbutik ever</p>
        <p class="review-desc">Jeg er så tilfreds</p>
        <div class="review-bottom">
          <p href="#">Mette Sliksen</p>
          <p>13.05.2021</p>
        </div>
      </a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Review Section",
    "settings": [
    ]
  }
{% endschema %}