<div class="custom-btn-section fullwidth-wrapper">
  <div class="c-wrapper">
    <a href="#" class="c-custom-btn">køb bland selv slik</a>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Button Section",
    "settings": [
    ]
  }
{% endschema %}